<app-navbar></app-navbar>

<div class="container text-justify pt-2 pb-3 bg-light">
	<h4 class="text-center">Hello, {{ userData.username }}!</h4>
	<p>This is your bucket list. Would you like to add something? Or maybe you have just accomplished one of your goals?</p>
	<hr>
	
	<div class="alert alert-secondary text-center" *ngIf="goalsCount === 0">
		It seems you don't have any goals on your bucket list yet. Go ahead and add something!
	</div>

	<div class="alert alert-secondary" [ngClass]="{'alert-success': item.done}" *ngFor="let item of userData.list">
		<span class="font-weight-bold">{{ item.goal }}</span>
		<span class="float-right">
			<button class="btn btn-success btn-sm" *ngIf="!item.done" data-id="{{ item.id }}" (click)="completeGoalClick($event)">I did it!</button>
			<button class="btn btn-dark btn-sm" data-id="{{ item.id }}" data-toggle="modal" data-target="#deleteGoalModal" (click)="saveGoalId($event)">Remove goal</button>
		</span>
		<hr class="mb-0">
		<small class="text-secondary">
			<span class="font-weight-bold mr-2" *ngIf="item.done">Done: {{ item.date_done }}</span>
			<span>Added: {{ item.date_added }}</span>
		</small>
	</div>

	<button type="submit" class="btn btn-success mt-0" data-toggle="modal" data-target="#addGoalModal">Add new goal</button>
</div>

<app-footer></app-footer>


<!-- Add Goal Modal -->
<div class="modal fade" id="addGoalModal" tabindex="-1" role="dialog" aria-labelledby="addGoalModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new goal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
				  <label>What do you want to achieve?</label>
				  <input type="text" class="form-control" placeholder="Enter your goal" [(ngModel)]="newGoal" name="newGoal">
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addGoalClick($event)">Add</button>
      </div>
    </div>
  </div>
</div>


<!-- Delete Goal Modal -->
<div class="modal fade" id="deleteGoalModal" tabindex="-1" role="dialog" aria-labelledby="deleteGoalModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
				  <p>Do you want to give up on that goal?</p>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteGoalClick($event)">Confirm</button>
      </div>
    </div>
  </div>
</div>