<app-navbar></app-navbar>

<div class="container text-justify pt-2 bg-light">
	<h4 class="text-center">What is a bucket list?</h4>
	
	<p>Below you can find short explenation of what a bucket list is, where does it come from, why  you should have one and what to put on it.</p>

	<h5>How it originated?</h5>

	<p>A "bucket list" has it roots in the "kick a bucket" term. It simply means "to die". So it's list containing things you want to do before you leave this world. The origins of the term are unclear but it was popularized by the 2007 movie titled, of course, "The Bucket List". The plot follws two terminally ill patients that decide to run away from a hospital and live their remaining days doing what thay always wanted to do.</p>
	<p>Since the movie, many follows the idea of writing down their goals and dreams to make it easier to not forget about them and try to fulfill as much of them as possible before they "kick a bucket".</p>

	<h5>Why should I have one?</h5>

	<p>Mamy people like write out lists. They helps them at work, at school and any other areas of life. Lists keep thinkgs organized. Makes it easier to set priorities, track progress or just not forget things. Also, they increases a probability that you do what you wanted to do. Many psychologists agrees on that once things get written down, it's a little harder to step back.</p>
	<p>But you shouldn't limit yourself only to writing down your responsibilities. Shopping list or "to do" list for a work day will deffinitely help, but those are mostly not very pleasent things. So prepare another list - all filled with things you actually want to do. Something that will make you feel proud and fulfilled.</p>

	<h5>What to put on my list?</h5>

	<p>Simply, anything you want! Everyone have many dreams or goals. Small ones and big ones. Some of them are more realistic (see my favorite sport team's game live), some may seem impossible (become an astronaut). Some more material (but a sport car), some more spiritual (help someone in need). Measurable (lose 10 kilograms) or not at all (life a good life).</p>
	<p>Usually, a bucket list contains various achievements or experiences that falls in many different life categories. Popular topics are for example travel (visit New Zealand), health (start running), adventure (sky-dive), career (get better-paid job), happiness (fall in love).</p>
	<p>You already have some examples. But I'm sure you already have a lot more ideas in your mind. And more will come when you start writing them down.</p>
</div>

<app-footer></app-footer>